{% extends "dashboard/base.html" %}
{% block content %}
    <div id="layoutSidenav">
        <div id="layoutSidenav_content">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table mr-1"></i>
                    Your Projects DataTable
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Deadline</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            </tfoot>
                            <tbody>
                            {% for project in projects %}
                                {% if project["status"]=="Completed"%}
                                    <tr>
                                        <td> <a href="{{ '/dashboard/projects/%s'%project["_id"] }}"> {{project["title"]}} </a> </td>
                                        <td>{{project["description"]}}</td>
                                        <td>{{project["date"]}}</td>
                                        <td>{{project["status"]}}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}