{% extends "dashboard/base.html" %}
{% block content %}
    <div id="layoutSidenav">
        <div id="layoutSidenav_content">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table mr-1"></i>
                    Your Projects DataTable
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Deadline</th>
                                <th>Status</th>
                                <th>Project Creator</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            </tfoot>
                            <tbody>
                            {% for project in projects %}
                                <!-- Step 1: check and show only the projects which the current user created -->
                                {% if project['project_creator_email']==user_email %}
                                    {% if project["status"]=="Emergency"%}
                                        <tr>
                                            <td> <a href="{{ '/dashboard/%s'%user_email + '/projects/%s'%project["_id"] }}"> {{project["title"]}} </a> </td>
                                            <td>{{project["description"]}}</td>
                                            <td>{{project["date"]}}</td>
                                            <td>{{project["status"]}}</td>
                                            <td>{{project["project_creator_email"]}}</td>
                                        </tr>
                                    {% endif %}
                                {% else %}
                                    {% for assigned_user in assigned_users %}
                                        <!-- Step 2: Check and show also the projects that the current user is assigned -->
                                        {% if assigned_user['project_id']==project["_id"] and assigned_user['email']==user_email %}
                                            {% if project["status"]=="Emergency"%}
                                                <tr>
                                                    <td> <a href="{{ '/dashboard/%s'%user_email + '/projects/%s'%project["_id"] }}"> {{project["title"]}} </a> </td>
                                                    <td>{{project["description"]}}</td>
                                                    <td>{{project["date"]}}</td>
                                                    <td>{{project["status"]}}</td>
                                                    <td>{{project["project_creator_email"]}}</td>
                                                </tr>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}