{% extends "dashboard/base.html" %}

{% block content %}
<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        <form method="POST" action="{{ url_for('create_new_project', user_email=user_email) }}">
            <div class='container-fluid'>
                <label style=margin-top:10px; for='project_title'>Project Subject</label> <!-- following the examples of https://getbootstrap.com/docs/4.3/components/forms/ -->
                <input type='text' id='project_title' name="project_title" class='form-control' required/>
            </div>
            <div class="container-fluid">
                <label style=margin-top:10px; for="project_description">Description</label>
                <textarea class="form-control" name="project_description" id="project_description" rows="3"></textarea>
            </div>
            <div class="container-fluid">
                <label style=margin-top:10px; for="project_date">Deadline</label>
                <input style=width:19%; type='date' id='project_date' name="project_date" class='form-control'/>
            </div>
            <div class="container-fluid">
                <button style=margin-top:15px; type="submit" class="btn btn-primary">Submit </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}