{% extends "dashboard/base.html" %}
{% block content %}
    <div id="layoutSidenav">
        <div id="layoutSidenav_content">
                <div class="card-header">
                    <h4> Project ID: {{project._id}} </h4>
                </div>
                <div class="card-body">
                    <label>Title</label>
                    <input value={{project.title}} class="form-control"/>

                    <label style=margin-top:30px;>Description</label>
                    <input value={{project.description}} class="form-control"/>

                    <label style=margin-top:30px;>Deadline</label>
                    <input type="date" value="{{project.date}}" class="form-control"/>

                    <form method="POST" action="{{ url_for('update_project', project_id=project._id) }}">
                        <button style=margin-top:10px; type="submit" class="btn btn-primary">Update </button>
                    </form>
                    <form method="POST" action="{{ url_for('delete_project', project_id=project._id) }}">
                        <button style=margin-top:10px; type="submit" class="btn btn-danger">Delete </button>
                    </form>
                </div>
        </div>
    </div>
{% endblock %}