{% extends "dashboard/base.html" %}
{% block content %}
    <div id="layoutSidenav">
        <div id="layoutSidenav_content">
            <form method="POST">
                <div class="card-header">
                    <a style="margin-right:15px; margin-top: 20px;" class="btn btn-dark btn-sm" href="{{url_for('dashboard', user_email=user_email)}}" role="button">Go Back</a>
                    <h4 style="margin-left:80px; margin-top: -31px;"> User's Profile: {{user_fullname}} </h4>
                </div>
                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        <p class=error><strong>Error:</strong> {{ error }}
                    </div>
                {% endif %}
                <div class="card-body">
                    <div class="form-group">
                        <label for="fullname">Full name</label>
                        <input placeholder="{{user_fullname}}" class="form-control py-4" id="fullname" name="fullname" />
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input placeholder="{{user_email}}" type="email" class="form-control py-4" id="email" name="email" aria-describedby="emailHelp"   />
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputPassword">Password</label>
                                <input title="Must contain at least one number and one uppercase and lowercase letter, and at least 6 or more characters" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" class="form-control py-4" id="inputPassword" type="password" name="password" placeholder="Enter password" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputConfirmPassword">Confirm Password</label>
                                <input title="Must contain at least one number and one uppercase and lowercase letter, and at least 6 or more characters" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" class="form-control py-4" id="confirm_password" type="password" name="password2" placeholder="Confirm password" />
                            </div>
                        </div>
                        <button style=margin-top:20px; type="submit" class="btn btn-primary" formaction="{{ url_for('update_profile', user_email=user_email) }}" > Update Account </button>
                        <button style="margin-top:20px; margin-left:10px;" type="submit" class="btn btn-danger" formaction="{{ url_for('delete_user', user_email=user_email) }}"> Delete Account </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

