{% extends "dashboard/base.html" %}
{% block content %}
    <div id="layoutSidenav">
        <div id="layoutSidenav_content">
            <form method="POST">
                <div class="card-header">
                    <a style="margin-right:15px; margin-top: 20px;" class="btn btn-dark btn-sm" href="{{ '/dashboard/%s'%user_email, user_email, user}}" role="button">Go Back</a>
                    <h4 style="margin-left:80px; margin-top: -31px;"> Welcome: {{user.fullname}} </h4>
                </div>
                <div class="card-body">
                    <label style=margin-top:-10px;>New Name</label>
                    <input value="{{user.fullname}}" id='fullname' name="fullname" class="form-control" />

                    <label style=margin-top:20px;>New Email</label>
                    <input value="{{user.email}}" id="email" name="email" class="form-control" />

                    <label style=margin-top:70px;>New Password</label>
                    <input value="{{user.password}}" id="password" type="password"name="password" class="form-control" />

                     <button style=margin-top:15px; type="submit" class="btn btn-primary">Submit </button>

{#                    <button style=margin-top:20px; type="submit" class="btn btn-primary" formaction="{{ url_for('update_profile') }}" >Update </button>#}
{#                    <button style=margin-top:20px; type="submit" class="btn btn-danger" formaction="{{ url_for('delete_task', user_email=user_email, project_id=project._id, task_id=task._id) }}"> Delete </button>#}
                </div>
            </form>

        </div>
    </div>
{% endblock %}

