<!--https://flask.palletsprojects.com/en/1.1.x/patterns/templateinheritance/-->
{% extends "home.html" %} <!-- connected with home.html -->
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}

  <!-- <h1>Project Management Tool</h1>
  <p class="important">
    Welcome on our awesome ticketing system.
   -->

  <!-- we want to use this container in order the website to contain on the same way everywhere -->
  <div class = "jumbotron">
      <!-- https://getbootstrap.com/docs/4.0/components/jumbotron/ -->
      <h1 class="display-4">Project Management Tool!</h1>
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </p>
  </div>
{% endblock %}