<link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
<link href="{{ url_for('static', filename='dist/css/styles.css') }}" rel="stylesheet" />
{% block content %}
    <div id="layoutSidenav">
        <div id="layoutSidenav_content">
            <div class="alert alert-info" role="alert" style="width:40%; margin-left:450px; margin-top:220px">
                <i class="fas fa-check" style="font-size:48px;color:navajowhite"></i>
                <h4 class="alert-heading">Success!</h4>
                <p>Your account has been updated successfully!</p>
                <hr>
                <p class="mb-0">You will be redirected to the dashboard page in 3 seconds</p>
            </div>
            <!-- https://stackoverflow.com/questions/3292038/redirect-website-after-specified-amount-of-time -->
            <!-- Navigates to the alert page and redirects back to the upload list page after 4 seconds -->
            <meta http-equiv="refresh" content="3;url={{ url_for('dashboard', user_email=user_email) }}" />
        </div>
    </div>
{% endblock %}