{% extends "dashboard/base.html" %}
{% block content %}
    <div id="layoutSidenav">
        <div id="layoutSidenav_content">
            <div class="card mb-4">
                <form method="POST">
                    <div class="card-header">
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="{{'/dashboard/%s'%user_email}}">Dashboard</a></li>
                            <li class="breadcrumb-item active">Table</li>
                        </ol>
                        <h5> <i class="fas fa-table mr-1"></i> Your Projects DataTable</h5>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>Deadline</th>
                                    <th>Status</th>
                                    <th>Project Creator</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </tfoot>
                                <tbody>
                                {% for project in projects %}
                                    <!-- Step 1: check and show only the projects which the current user created -->
                                    {% if project['project_creator_email']==user_email %}
                                        <tr>
                                            <td> <a href="{{ '/dashboard/%s'%user_email + '/projects/%s'%project["_id"] }}"> {{project["title"]}} </a> </td>
                                            <td>{{project["description"]}}</td>
                                            <td>{{project["date"]}}</td>
                                            <td>{{project["status"]}}</td>
                                            <td>{{project["project_creator_email"]}}</td>
                                            <td class="text-center"><button type="submit" class="btn btn-danger" style=height:35px; formaction="{{ url_for('delete_project', project_id=project._id, user_email=user_email) }}"> Delete </button></td>
                                        </tr>
                                    {% else %}
                                        {% for assigned_user in assigned_users %}
                                            <!-- Step 2: Check and show also the projects that the current user is assigned -->
                                            {% if assigned_user['project_id']==project["_id"] and assigned_user['email']==user_email %}
                                                <tr>
                                                    <td> <a href="{{ '/dashboard/%s'%user_email + '/projects/%s'%project["_id"] }}"> {{project["title"]}} </a> </td>
                                                    <td>{{project["description"]}}</td>
                                                    <td>{{project["date"]}}</td>
                                                    <td>{{project["status"]}}</td>
                                                    <td>{{project["project_creator_email"]}}</td>
                                                    <td class="text-center"><button type="submit" class="btn btn-danger" style=height:35px; formaction="{{ url_for('delete_project', project_id=project._id, user_email=user_email) }}"> Delete </button></td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}